.btnDouble {
  display: inline-block;
  border: 1px solid var(--color-gray);
  border-radius: 2rem;
}

.btnDouble>li {
  border-radius: 2rem;
  display: inline-block;
  padding: 0.9rem 2.5rem;
  transition: all 0.3s ease-out;
}

.btnDouble>li.active {
  background-color: var(--color-darkblue);
}

.btnDouble>li:last-child {
  flex: 1 1 auto;
}

.btnDouble>li>span {
  font-size: 1.5rem;
  color: var(--color-darkblue);
  cursor: pointer;
}

.btnDouble>li>span:hover {
  text-decoration: underline;
}

.btnDouble>li.active>span {
  color: #fff;
  font-weight: bold;
}